<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>
      Report Summary of COVID Cases
   </p>

  <iframe title="COVID-19 US Tracking Sample" width="1140" height="541.25" src="https://msit.powerbi.com/reportEmbed?reportId=61ecd9cd-786b-4921-abb5-fe1a447d7467&appId=97ade339-c9ca-4ddf-b989-3dec806e6872&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47" frameborder="0" allowFullScreen="true">

  </iframe

  </body>
</html>
